@import '../global.css';

.pbutton {
     padding: 8px 12px;
     background-color: var(--primary-color);
     color : #fff;
     border-radius : 15px;
}

.sbutton {
    padding: 8px 12px;
     background-color: #fff;
     border: 1px solid var(--primary-color);
     color : var(--primary-color);
     border-radius : 15px;
}